# Datasource local storage ignored files
/.idea.Nation/.idea/dataSources/
/.idea.Nation/.idea/dictionaries/
/.idea.Nation/.idea/dataSources.local.xml
# Default ignored files
/.idea.Nation/.idea/workspace.xml
/.idea.Nation/.idea/vcs.xml
